form {
  width: 70rem;
}

.name {
  display: flex;
  justify-content: space-between;
}

.password {
  display: flex;
  justify-content: space-between;
}
.form_button_container {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.form_button_container button {
  margin-right: 2rem;
}
