div.nav-bar{
    position: relative;
}

nav ul{
    position: absolute;
    top: 24px;
    right: 298px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 11px;
    margin-right: 11px;
}

a:link{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 0.9px;
    font-weight: 500;
}

a#browse{
    color: cyan;
    font-weight: bold;
}

nav>button{
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 128px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 15px;
    font-weight: bold;
    border-color: cyan;
    border-width: 1px;
    border-radius: 4px;
    width: 144px;
    height: 45px;
}

div.search-bar{
    position: absolute;
    top: 214px;
    left: 280px;
}

div.multiple-choices{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 47px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 2.1px;
    margin-bottom: 36px;
} 

input.search-bar{
    display: flex;
    justify-content: center;
    width: 750px;
    height: 56px;
    border-radius: 6px;
    border-width: 0px;
    background-image: url("../images/magnifier.png");
}

input.search-bar::placeholder{
    color: rgba(149,158,173);
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 1.5px;
}

button.search{
    position: absolute;
    display: flex;
    width: 94px;
    height: 40px;
    left: 648px;
    top: 99px;
    padding: 14px 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    border-radius: 6px;
    border-width: 0px;
    background-color:rgb(38, 57, 89);
    color: white;
}