* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.nav {
  background-color: rgb(127, 146, 255);
  height: 100px;
  width: 1440px;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 1;
}
.box {
  display: flex;
  flex-direction: row;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 100%;
  padding: 15%;
}
.cardIcon {
  margin-bottom: 20px;
  color: #3ee8b5;
}

.link {
  list-style: none;
  text-decoration: none;
  color: white;
}
.img {
  width: 55px;
  height: 55px;
  margin-top: 10px;
  margin-left: 15px;
}
.textCenter {
  text-align: center;
  margin-top: 20px;
  color: #263959;
}
.section1 {
  background-image: url('../../assets/images/homeBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
  position: relative;
}
.btn {
  position: absolute;
  top: 70%;
  left: 8%;
}
.bgColor {
  background-color: #f5f5f5;
}
.section6 {
  background-image: url('../../assets/images/PgCommentBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
  position: relative;
}
