name: Deploy Github Pages
on:
  push:
    branches:
      - main
permissions: read-all|write-all
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Check build
        run: yarn && CI='' yarn build
      - name: Deploy preview
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./build
          branch: gh-pages
          clean-exclude: pr-preview